day-time .day-time {
    position: relative;
    width: 100%;
}

day-time .br {
    width: 100%;
    border-bottom: double 7px black;
    margin: 2em auto;
    box-shadow: 0 0 30px 2px #E6E309;
}

day-time .day-time-tittle {
    display: inline-block;
    width: 30%;
    padding-left: 40px;
    border-bottom: solid black 2px;
    font-size: 2em;
    font-family: "TS2";
    text-shadow: 5px -2px 5px #BCB524;
    cursor: default;
}

day-time .input {
    display: inline-block;
    position: relative;
    padding-bottom: 1em;
    vertical-align: top;
}

day-time .input form {
    display: inline-block;
    margin: 0.55em 2em 0;
}

day-time .input label {
    margin-right: 0.5em;
    font-size: 1.2em;
    font-family: "TS2";
    text-shadow: 5px -2px 5px #BCB524;
}

day-time .input label angucomplete-alt {
    display: inline-block;
    vertical-align: top;
}

day-time .input label input {
    vertical-align: top;
    border: solid rgb(107, 50, 95) 1px;
    border-radius: 5px;
    background-color: #e0d8e8;
    font-weight: bold;
}

day-time .input label input:focus {
    outline: none;
    box-shadow: 0 0 6px 1px #BCB524;
}

day-time .input .add-button {
    display: inline-block;
    height: 33px;
    width: 33px;
    margin-bottom: -0.8em;
    border: solid black 3px;
    border-radius: 30px;
    font-family: "TS2";
    font-size: 4em;
    line-height: 0.45em;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    transition: 0.6s;
}

day-time .input .add-button:hover {
    border-color: rgb(205, 0, 0);
    color: rgba(205, 0, 0, 1);
    box-shadow: 0 0 10px 3px rgba(205, 0, 0, 0.7);
    transition: 0.6s;
}

day-time .input .toggle-table {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin:0 0 -0.9em 3.5em;
    padding-top: 10px;
    vertical-align: top;
    cursor: pointer;
}

day-time .input .toggle-table.down {
    background: url("../img/arrow-toggle-down.png") no-repeat;
    background-size: contain;
    transition: background-position 0.6s;
}

day-time .input .toggle-table.down:hover {
    background: url("../img/arrow-toggle-down-active.png") no-repeat 0 10px;
    background-size: contain;
}

day-time .input .toggle-table.up {
    background: url("../img/arrow-toggle-up.png") no-repeat 0 5px;
    background-size: contain;
    transition: background-position 0.6s;
}

day-time .input .toggle-table.up:hover {
    background: url("../img/arrow-toggle-up-active.png") no-repeat;
    background-size: contain;
}


day-time .table-border {
    width: 100%;
    background: url("../img/table-border.png") repeat-y 98% 0;
    background-size: 1%;
}

day-time .table {
    margin-top: 1.5em;
    width: 95%;
}

day-time .table .table-tittle {
    font-size: 1.2em;
    position: relative;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding: 10px 0 10px;
}

day-time .table .table-tittle span {
    display: inline-block;
    width: 13%;
    text-align: center;
}

day-time .table .table-tittle span.name {
    width: 22%;
}

/*------ Подчеркивания -------*/

day-time .table .table-tittle .name {
    background: url("../img/underlines/food-name-underline.png") no-repeat bottom;
    background-size: 95%;
    padding: 7px 0;
}

day-time .table .table-tittle .portion {
    background: url("../img/underlines/portion-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}

day-time .table .table-tittle .carbohyd {
    background: url("../img/underlines/carbohyd-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}

day-time .table .table-tittle .fat {
    background: url("../img/underlines/fat-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}

day-time .table .table-tittle .prot {
    background: url("../img/underlines/prot-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}

day-time .table .table-tittle .kall {
    background: url("../img/underlines/kall-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}




day-time .table .summary {
    font-size: 1.2em;
    position: relative;
    border-top: solid 2px black;
    padding: 10px 0 10px;
}

day-time .table .summary span {
    display: inline-block;
    width: 13%;
    text-align: center;
}

day-time .table .summary span.name {
    width: 20%;
    padding-left: 0.3em;
    text-align: left;
}

day-time .angucomplete-dropdown {
    position: absolute;
    max-height: 15em;
    overflow-y: auto;
    border: solid black 2px;
    z-index: 9999;
    background: rgb(253, 253, 190);
}

day-time .angucomplete-row {
    padding: 0.2em 0.1em;
}