.day-time .input form {
    font: 1.6em Angry-Birds, sans-serif;
    color: rgb(228, 216, 54);
}

.day-time .input angucomplete-alt {
    display: inline-block;
}

.day-time .input input {
    margin-left: 2.3em;
    padding-left: 0.2em;
    vertical-align: middle;
    line-height: 1.5em;
    background-color: rgb(67, 72, 87);
    border: none;
    border-radius: 5px;
}
.day-time .input input:focus {
    outline: none;
    background-color: rgb(200, 203, 213);
}
.day-time .input angucomplete-alt input {
    width: 20em;
}
.day-time .input input.portion-input {
    margin-left: 5em;
}

.day-time .input .angucomplete-dropdown {
    position: absolute;
    max-height: 12em;
    width: 15.05em;
    margin-left: 1.7em;
    overflow-y: auto;
    z-index: 9999;
    background: rgb(200, 203, 213);
    font: 0.7em Angry-Birds, sans-serif;
    color: black;
}

.day-time .input .add-button {
    display: inline-block;
    height: 33px;
    width: 33px;
    margin: 0.15em 0 0 6em;
    padding: 0.05em;
    vertical-align: top;
    text-align: center;
    border: solid 3px;
    border-radius:30px;
    box-shadow: 0 0 10px 0 rgba(159, 134, 255, 0.6);
    font: 4em Angry-Birds, sans-serif;
    color: rgba(159, 134, 255, 0.6);
    line-height: 0.45em;
    cursor: pointer;
    transition: 0.3s;
}

.day-time .input .add-button:hover {
    color: rgba(228, 216, 54, 1);
}


.day-time .table {
    margin-top: 1.5em;
    width: 95%;
}

.day-time .table .table-tittle {
    position: relative;
    border-top: solid 1px rgb(159, 134, 255);
    border-bottom: solid 1px rgb(159, 134, 255);
    padding: 10px 0 10px;
    font: 1.1em Angry-Birds, sans-serif;
    color: rgba(193, 196, 203, 0.7);
}

.day-time .table .table-tittle span {
    display: inline-block;
    width: 13%;
    text-align: center;
    vertical-align: middle;
}

.day-time .table .table-tittle span.name {
    width: 22%;
}
.day-time .table .summary {
    position: relative;
    border-top: solid 1px rgb(159, 134, 255);
    padding: 10px 0 10px;
    font: 1.1em Angry-Birds, sans-serif;
    color: rgba(193, 196, 203, 0.7);
}

.day-time .table .summary span {
    display: inline-block;
    width: 13%;
    text-align: center;
    line-height: 1.5em;
}

.day-time .table .summary span.name {
    width: 20%;
    padding-left: 0.6em;
    text-align: center;
}

.day-time .table .summary .active-limit {
    background: rgba(230, 71, 89, 0.7);
}

food .food {
    width: 100%;
    padding: 0.7em 0;
    font-size: 1.1em;
}

food .food span {
    display: inline-block;
    width: 13%;
    text-align: center;
    vertical-align: middle;
    color:  rgb(193, 196, 203);
}

food .food span.name {
    width: 19%;
    padding: 0 0 0 19px;
    text-align: center;
}

food .food .remove-food {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background: url("./images/remove-img.png") no-repeat center;
    background-size: 25px 25px;
    cursor: pointer;
}

food .food .remove-food:hover {
    background: url("./images/remove-img-hover.png") no-repeat center;
    background-size: 25px 25px;
}

food .food .remove-food:hover {

}

food .food.empty .remove-food {
    display: none;
}


