food .food {
    width: 100%;
    padding: 0.7em 0;
    font-size: 1.1em;
}

food .food span {
    display: inline-block;
    width: 13%;
    text-align: center;

}

food .food span.name {
    width: 19%;
    background: url("../img/pointer.png") no-repeat 3px 4px;
    background-size: 4%;
    padding: 0 0 0 19px;
    text-align: left;
}

food .food .remove-food {
    display: inline-block;
    background: url("../img/delete.png") no-repeat;
    background-size: contain;
    width: 2%;
    height: 0.4em;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s;
}

food .food .remove-food:hover {
    box-shadow: 0 0 15px 1px #C72222;
    transition: 1s;
}

food .food.empty .remove-food {
    display: none;
}

food .food.empty span.name {
    background-image: none;
}