.home-page .left-line, .right-line {
    width: 33%;
    padding: 1.1em 0;
    border-bottom: solid rgb(228, 216, 54) 1px;
}

.home-page .left-line {
    float: left;
    margin: 0 2%  0 4%;
}

.home-page .right-line {
    float: right;
    margin: 0 4%  0 2%;
}

.home-page h2 {
    margin-top: 3.5em;
    font-family: Angry-Birds, Verdana, sans-serif;
    font-size: 2em;
    text-align: center;
    color: rgb(193, 196, 203);
}

.home-page .daytime-select-tooltip {
    position: relative;
    display: inline-block;
    margin: -1.5em 0 0 10em;
    padding: 0.5em 1em;
    border: solid rgb(27, 201, 142) 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(27, 201, 142, 0.6);
    background: rgba(27, 201, 142, 0.9);
    font: 1.2em Xiomara, sans-serif;
    white-space: pre;
    color: white;
}

.home-page .daytime-select-tooltip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid;
    border-bottom-color: rgb(27, 201, 142);
    color: rgba(37, 40, 48, 0);
    bottom: 101%;
    right: 88%;
}

.home-page .menu-select-tooltip {
    position: relative;
    display: inline-block;
    margin: 3em 0 0 -2.2em;
    padding: 0.5em 1em;
    border: solid rgb(230, 71, 89) 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(230, 71, 89, 0.6);
    background: rgba(230, 71, 89, 0.9);
    font: 1.2em Xiomara, sans-serif;
    white-space: pre;
    color: white;
}

.home-page .menu-select-tooltip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid;
    border-right-color: rgb(230, 71, 89);
    color: rgba(37, 40, 48, 0);
    bottom: 75%;
    right: 100.1%;
}
