main-view .main-view {
    position: relative;
    width: 80%;
    margin: 2em auto;
}

main-view .result .result-tittle {
    margin-bottom: 1em;
    padding-left: 40px;
    border-bottom: solid black 2px;
    width: 30%;
    font-size: 2em;
    font-family: "TS2";
    text-shadow: 5px -2px 5px #BCB524;
    cursor: default;
}

main-view .result .table-result .table-result-tittle {
    font-size: 1.2em;
    position: relative;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding: 10px 0 10px;
}

main-view .result .table-result .table-result-tittle span {
    display: inline-block;
    width: 13%;
    text-align: center;
}

main-view .result .table-result .table-result-tittle span.result-no-name {
    width: 22%;
    text-align: left;
}

main-view .result .table-result .result-final {
    margin-top: 0.3em;
}

main-view .result .table-result .result-final span {
    display: inline-block;
    width: 13%;
    line-height: 2em;
    text-align: center;
}

main-view .result .table-result .result-final span.name {
    width: 22%;
}

/*----- Подчеркивания -------*/

main-view .result .table-result .table-result-tittle .portion {
    background: url("../img/underlines/portion-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}

main-view .result .table-result .table-result-tittle .carbohyd {
    background: url("../img/underlines/carbohyd-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}

main-view .result .table-result .table-result-tittle .fat {
    background: url("../img/underlines/fat-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}

main-view .result .table-result .table-result-tittle .prot {
    background: url("../img/underlines/prot-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}

main-view .result .table-result .table-result-tittle .kall {
    background: url("../img/underlines/kall-underline.png") no-repeat bottom;
    background-size: 80%;
    padding: 7px 0;
}


main-view span.active-limit {
    background: red;
}