@font-face {
    font-family: "TS1";
    src: url(../fonts/5.ttf)   format("truetype");
}

@font-face {
    font-family: "TS2";
    src: url(../fonts/4.ttf)   format("truetype");
}

@font-face {
    font-family: "TS3";
    src: url(../fonts/2.ttf)   format("truetype");
}

html, body {
    width: 100%;
    background: rgb(253, 253, 190);
    min-width: 950px;
}

header {
    height: 3em;
    margin: -0.4em auto;
    background: url("../img/header-background.png") no-repeat center;
    background-size: contain;
    text-align: center;
    font-size: 4.6em;
    font-family: "TS1";
    text-shadow: 5px -2px 5px #BCB524;
}


/* ---------------- MENU COMPONENT ----------------*/

menu {
    width: 80%;
    margin: 2em auto;
}

menu .menu-br {
    height: 6px;
    width: 100%;
    background: url("../img/menu-br.png") repeat-x bottom left;
    box-shadow: 0 0 30px 2px #E6E309;
}


menu .diet-menu {
    margin: 2em auto;
}

menu .diet-menu .diet-tittle {
    display: inline-block;

    font-size: 1.7em;
    font-family: "TS2";
    text-shadow: 5px -2px 5px #BCB524;
    cursor: default;
}

menu .diet-menu .diet-choose {
    display: inline-block;
    margin-left: 5em;
    font-family: "TS2";
    font-size: 1.2em;
}

menu .diet-menu .diet-choose .diet {
    cursor: pointer;
    transition: 0.4s;
}

menu .diet-menu .diet-choose .diet:hover {
    border-bottom: solid 2px #610000;
    text-shadow: 6px -2px 10px #E73E18;
}

menu .diet-menu .diet-choose .diet.active {
    border-bottom: solid 2px #610000;
    text-shadow: 6px -2px 10px #E73E18;
}

menu .diet-menu .diet-choose .diet.active-add-active {
    text-shadow: 6px -2px 2px #E73E18;
}

menu .diet-menu .diet-choose .slash {
    font-weight: bolder;
    cursor: default;
}

menu .phase-menu {
    position: relative;
    width: 100%;
    margin: 2em auto;
}

menu .phase-menu .phase-tittle {
    font-size: 1.7em;
    font-family: "TS2";
    text-shadow: 5px -2px 5px #BCB524;
    cursor: default;
}

menu .phase-menu .phase-choose {
    position: relative;
    width: 80%;
    height: 5em;
    margin: 0 auto;
}

menu .phase-menu .phase-choose a {
    top: 0.25em;
    width: 0.5em;
    position: absolute;
    padding: 0 5px 0;
    border: dotted black 2px;
    font-size: 3.3em;
    font-family: "TS3";
    color: rgba(0, 0, 0, 1.0);
    text-decoration: none;
    transition: 0.8s;
    cursor: default;
}

menu .phase-menu .phase-choose .first-phase {left: 0; opacity: 0}
menu .phase-menu .phase-choose .second-phase {left: 49%; top: -5em; opacity: 0; transition: 0.6s}
menu .phase-menu .phase-choose .third-phase {left: 98%; opacity: 0}


menu .phase-menu .phase-choose a.start:hover {
    color: rgba(251, 30, 14, 1);
    border: dotted 2px rgba(255, 158, 158, 1);
    box-shadow: 0 0 30px 2px #F27D6E;
    text-shadow: 7px -3px 4px #FF9494;
    cursor: pointer;
    transition: 0.7s;
}

menu .phase-menu .phase-choose .start.first-phase {left: 38%; opacity: 1}
menu .phase-menu .phase-choose .start.second-phase {left: 49%; top: 0.25em; opacity: 1}
menu .phase-menu .phase-choose .start.third-phase {left: 60%; opacity: 1}

menu .phase-menu .phase-choose .first-phase.active1,
menu .phase-menu .phase-choose .second-phase.active2,
menu .phase-menu .phase-choose .third-phase.active3 {
    left: 49%;
    top: 0.25em;
    color: rgba(251, 30, 14, 1);
    border: dotted 2px rgba(255, 158, 158, 1);
    box-shadow: 0 0 30px 2px #F27D6E;
    text-shadow: 7px -3px 4px #FF9494;
    opacity: 1;
}



menu .phase-menu #arrow-left {
    position: absolute;
    left: 27%;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-top: 1.5em;
    cursor: pointer;
    background: url("../img/arrow-left.png")no-repeat;
    background-size: contain;
    opacity: 1;
    transition: 1s;
}

menu .phase-menu #arrow-right {
    position: absolute;
    right: 23%;
    width: 100px;
    height: 40px;
    margin-top: 1.5em;
    cursor: pointer;
    background: url("../img/arrow-right.png")no-repeat;
    background-size: contain;
    opacity: 1;
    transition: 1s;
}

menu .phase-menu #arrow-left.start {
    left: 0;
    opacity: 0;
}

menu .phase-menu #arrow-right.start {
    right: 0%;
    opacity: 0;
}



/* ------------------------------------------------*/
