save-menu .save-menu {
    position: relative;
    width: 80%;
    margin: 2em auto;
    font-family: "TS2";
    font-size:1.5em;
}

save-menu .save-menu .print-button {
    float: left;
    margin: 0 0.5em 0.4em 0;
    padding: 7px 10px;
    border: double black 5px;
    cursor: pointer;
    transition: 0.7s;
}

save-menu .save-menu .print-button:hover {
    border: double rgb(204, 0, 0) 5px;
    color: rgb(204, 0, 0);
    box-shadow: 0 0 30px -3px #CC0000;
}

save-menu .save-menu .save-button {
    float: right;
    margin-bottom: 0.8em;
    padding: 7px 10px;
    border: solid black 3px;
    cursor: pointer;
    transition: 0.7s;
}

save-menu .save-menu .save-button:hover {
    color: rgb(204, 0, 0);
    border: solid rgb(204, 0, 0) 3px;
    box-shadow: 0 0 30px -3px #CC0000;
}

save-menu .save-menu .print-button-active {
    color: rgb(204, 0, 0);
    border: double rgb(204, 0, 0) 5px !important;
    box-shadow: 0 0 30px -3px #CC0000;
}

save-menu .save-menu .print-menu {
    float: left;
    margin-top: 0.1em;
    margin-bottom: -1em;
    padding-right: 20px;
    background: url('../img/table-border.png') repeat-y right;
    background-size: 1.5%;
}

save-menu .save-menu .print-menu.ng-enter,
save-menu .save-menu .print-menu.ng-leave.ng-leave-active {

    opacity: 0;
    transition:0.3s linear all;
}

save-menu .save-menu .print-menu.ng-enter.ng-enter-active,
save-menu .save-menu .print-menu.ng-leave{
    opacity: 1;
    transition:0.5s linear all;
}

save-menu .save-menu .print-menu div:not(:first-child) {
    float: left;
    width: 6.5em;
    margin: auto 0.5em;
    padding: 7px 0;
    border: solid black 3px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
}
save-menu .save-menu .print-menu div:first-child {
    float: left;
    width: 6.5em;
    margin-right: 0.5em;
    padding: 7px 0;
    border: solid black 3px;
    text-align: center;
    cursor: pointer;
    transition: 0.7s;
}

save-menu .save-menu .print-menu div:hover {
    color: rgb(204, 0, 0);
    border: solid rgb(204, 0, 0) 3px;
    box-shadow: 0 0 30px -3px #CC0000;
}

save-menu .br {
    width: 80%;
    border-bottom: double 7px black;
    margin: 2em auto;
    box-shadow: 0 0 30px 2px #E6E309;
}

save-menu .group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}