save-menu .title {
    font: 2em Angry-Birds, sans-serif;
    color: rgb(228, 216, 54);
    margin-bottom: 1.5em;
}

save-menu .button {
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 0.4em 0.6em;
    border-radius: 6px;
    font: 1.2em Xiomara, sans-serif;
    cursor: pointer;
    transition: 0.1s;
}

save-menu .save-button,
save-menu .print-to-localStorage {
    color: rgb(27, 201, 142);
    border: solid rgb(27, 201, 142) 1px;
}

save-menu .save-button:hover,
save-menu .print-to-localStorage:hover {
    background: rgb(27, 201, 142);
    color: white;
}

save-menu .remove-print-localStorage,
save-menu .remove-data {
    color: rgb(230, 71, 89);
    border: solid rgb(230, 71, 89) 1px;
}

save-menu .remove-print-localStorage:hover,
save-menu .remove-data:hover {
    background: rgb(230, 71, 89);
    color: white;
}

save-menu .to-print {
    color: rgb(25, 151, 198);
    border: solid rgb(25, 151, 198) 1px;
}

save-menu .to-print:hover {
    background-color: rgb(28, 168, 221);
    color: white;
}