<div class="main-view">
    <day-time ng-repeat="time in $ctrl.viewData.dayTimes"
              time="time"
              base="$ctrl.base"
              day-time-limits="$ctrl.viewData.limitsData"
              add="$ctrl.addFood(dayTimeId, food)"
              remove="$ctrl.removeFood(dayTimeId, food)"
              toggle="$ctrl.toggleDayTime(id)"></day-time>

    <div class="result">
        <div class="result-tittle">Итого</div>

        <section class="table-result">
            <div class="table-result-tittle">
                <span class="result-no-name">----------------</span>
                <span class="portion">Порция(гр)</span>
                <span class="carbohyd">Углеводы</span>
                <span class="prot">Белки</span>
                <span class="fat">Жиры</span>
                <span class="kall">Калории</span>
            </div>

            <div class="result-final">
                <span class="name"></span>
                <span class="portion">---</span>
                <span class="carbohyd" ng-class="{'active-limit': $ctrl.compare('carbohyd')}">{{ $ctrl.viewData.resultFinal.carbohyd }} {{'(' + $ctrl.viewData.limitsData.limits["Итог"].carbohyd + ')' | limit }}</span>
                <span class="prot" ng-class="{'active-limit': $ctrl.compare('prot')}">{{ $ctrl.viewData.resultFinal.prot  }} {{'(' + $ctrl.viewData.limitsData.limits["Итог"].prot + ')' | limit }}</span>
                <span class="fat" ng-class="{'active-limit': $ctrl.compare('fat')}">{{ $ctrl.viewData.resultFinal.fat }} {{'(' + $ctrl.viewData.limitsData.limits["Итог"].fat + ')' | limit }}</span>
                <span class="kall" ng-class="{'active-limit': $ctrl.compare('kall')}">{{ $ctrl.viewData.resultFinal.kall }} {{'(' + $ctrl.viewData.limitsData.limits["Итог"].kall + ')' | limit }}</span>
            </div>

        </section>
    </div>
</div>
<save-menu day-times-data="$ctrl.viewData.dayTimes" result="$ctrl.viewData.resultFinal"></save-menu>