<div class="day-time">
    <h3 class="day-time-tittle">{{ $ctrl.time.dayTime }}</h3>

    <div class="input">
        <form>
            <label>Наименование: <angucomplete-alt ng-keypress="$ctrl.enter($event)"
                                                   id="ex1"
                                                   placeholder="Введите продукт"
                                                   pause="100"
                                                   selected-object="$ctrl.foodName"
                                                   local-data="$ctrl.base.foods.keys"
                                                   search-fields="foodName"
                                                   title-field="foodName"
                                                   minlength="1"
                                                   input-changed="$ctrl.onInput"
                                                   input-class="food form-control-small"
                                                   match-class="highlight"></angucomplete-alt></label>

            <label>Порция(гр): <input type="text" class="portion_input" size="2" ng-model="$ctrl.portion" ng-keypress="$ctrl.enter($event)"/></label>
        </form>
        <div class="add-button" ng-click="$ctrl.addFood()">+</div>
        <div class="toggle-table" ng-click="$ctrl.toggle({id: $ctrl.time.id})" ng-class="{down: !$ctrl.time.show, up: $ctrl.time.show}"></div>
    </div>

    <div class="table-border" ng-if="$ctrl.time.show">
        <div class="table">
            <div class="table-tittle">
                <span class="name">Наименование продукта</span>
                <span class="portion">Порция(гр)</span>
                <span class="carbohyd">Углеводы</span>
                <span class="prot">Белки</span>
                <span class="fat">Жиры</span>
                <span class="kall">Калории</span>
            </div>


            <food ng-repeat="food in $ctrl.time.foods" food="food" remove="$ctrl.removeFood(food)"></food>


            <div class="summary">
                <span class="name">Подытог</span>
                <span class="portion">---</span>
                <span class="carbohyd" ng-class="{'active-limit': $ctrl.compare('carbohyd')}">{{ $ctrl.time.result.carbohyd }} {{'(' + $ctrl.limits().carbohyd + ')' | limit }}</span>
                <span class="prot" ng-class="{'active-limit': $ctrl.compare('prot')}">{{ $ctrl.time.result.prot }} {{'(' + $ctrl.limits().prot + ')' | limit }}</span>
                <span class="fat" ng-class="{'active-limit': $ctrl.compare('fat')}">{{ $ctrl.time.result.fat }} {{'(' + $ctrl.limits().fat + ')' | limit }}</span>
                <span class="kall" ng-class="{'active-limit': $ctrl.compare('kall')}">{{ $ctrl.time.result.kall }} {{'(' + $ctrl.limits().kall + ')' | limit }}</span>
            </div>
        </div>
    </div>

</div>


<div class="br"></div>