<div class="add-to-table-form">
    <h3 class="add-form-title">Добавить продукт в таблицу</h3>
    <form class="table-form">
        <label>Наименование:
            <input type="text" class="food-name" ng-model="$ctrl.name" ng-keydown="$ctrl.add($event)"/></label>
        <label>Порция(гр):
            <input type="text" class="table-form-portion" size="2" ng-model="$ctrl.values[0]" ng-keydown="$ctrl.add($event)"/></label>
        <label>Углеводы:
            <input type="text" class="table-form-carbohyd" size="2" ng-model="$ctrl.values[1]" ng-keydown="$ctrl.add($event)"/></label>
        <label>Белки:
            <input type="text" class="table-form-prot" size="2" ng-model="$ctrl.values[2]" ng-keydown="$ctrl.add($event)"/></label>
        <label>Жиры:
            <input type="text" class="table-form-fat" size="2" ng-model="$ctrl.values[3]" ng-keydown="$ctrl.add($event)"/></label>
        <label>Калории:
            <input type="text" class="table-form-kal" size="2" ng-model="$ctrl.values[4]" ng-keydown="$ctrl.add($event)"/></label>
        <div class="add-to-table-button" ng-click="$ctrl.add()">+</div>
    </form>

</div>