<div class="add-to-table-form">
    <h3 class="add-form-title">Добавить продукт в таблицу</h3>
    <form class="table-form">
        <table>
            <tr><td><label for="food-name">Наименование:</label></td><td><input type="text" id="food-name" ng-model="$ctrl.name" ng-keydown="$ctrl.add($event)"/></td></tr>
            <tr><td><label for="table-form-portion">Порция(гр):</label></td><td><input type="text" id="table-form-portion" size="2" ng-model="$ctrl.values[0]" ng-keydown="$ctrl.add($event)"/></td></tr>
            <tr><td><label for="table-form-carbohyd">Углеводы:</label></td><td><input type="text" id="table-form-carbohyd" size="2" ng-model="$ctrl.values[1]" ng-keydown="$ctrl.add($event)"/></td></tr>
            <tr><td><label for="table-form-prot">Белки:</label></td><td><input type="text" id="table-form-prot" size="2" ng-model="$ctrl.values[2]" ng-keydown="$ctrl.add($event)"/></td></tr>
            <tr><td><label for="table-form-fat">Жиры:</label></td><td><input type="text" id="table-form-fat" size="2" ng-model="$ctrl.values[3]" ng-keydown="$ctrl.add($event)"/></td></tr>
            <tr><td><label for="table-form-kal">Калории:</label></td><td><input type="text" id="table-form-kal" size="2" ng-model="$ctrl.values[4]" ng-keydown="$ctrl.add($event)"/></td></tr>
        </table>

        <div class="add-to-table-button" ng-click="$ctrl.add()">+</div>
    </form>

</div>

<div class="my-table">
<storage-table my-foods="$ctrl.myFoods" remove="$ctrl.remove(name)"></storage-table></div>