<div class="save-menu">

    <div class="save-button group" ng-click="$ctrl.saveData()">Сохранить изменения</div>
    <div class="print-title">Для печати</div>
    <div class="print-menu group">
        <div class="to-print" ng-click="$ctrl.preview()">Предпросмотр</div>
        <div class="print-to-localStorage" ng-click="$ctrl.saveForPrint()">Сохранить для печати</div>
        <div class="delte-print-localStorage" ng-click="$ctrl.removePrintSaves()">Удалить сохранения</div>
    </div>
</div>


<div class="br"></div>