<div class="save-menu">
    <div class="title">Управление данными</div>

    <div>
        <div class="button save-button" ng-click="$ctrl.saveData()">Сохранить изменения</div>
        <div class="button remove-data" ng-click="$ctrl.removeData()">Удалить сохранения</div>
    </div>

    <div class="title">Для печати</div>

    <div class="print-menu">
        <div class="button to-print" ng-click="$ctrl.preview()">Предпросмотр</div>
        <div class="button print-to-localStorage" ng-click="$ctrl.saveForPrint()">Сохранить для печати</div>
        <div class="button remove-print-localStorage" ng-click="$ctrl.removePrintSaves()">Удалить сохранения</div>
    </div>
</div>


<div class="br"></div>