<div class="left-side-menu">
    <div class="to-another-design" ng-class="$ctrl.backIconClassName"><a href="../first-design/" id="go"></a></div>

    <div class="menu-item"
         ng-repeat="item in $ctrl.menuItems"
         ng-class="[item.className, $ctrl.activeClass()]"
         ng-click="$ctrl.setState(item.className)"
         ng-mouseenter="$ctrl.toggle(item)"
         ng-mouseleave="$ctrl.toggle(item)">
        <div class="tooltip" ng-if="item.tooltipShow">{{item.tooltip}}</div>
    </div>

</div>