<table class="tb">
    <caption class="tb-title">{{ $ctrl.foodsObj.title }}</caption>
    <tr ng-repeat="food in $ctrl.foodsObj.foods">
        <td class="td-name name-color" ng-class="food.className">{{ food.values.name }}</td>
        <td class="portion-color" ng-class="food.className">{{ food.values.portion }}</td>
        <td class="carbohyd-color" ng-class="food.className">{{ food.values.carbohyd }}</td>
        <td class="prot-color" ng-class="food.className">{{ food.values.prot }}</td>
        <td class="fat-color" ng-class="food.className">{{ food.values.fat }}</td>
        <td class="kall-color" ng-class="food.className">{{ food.values.kall }}</td>
    </tr>
</table>