<div class="modal-background" ng-if="$ctrl.checkOpen()">
    <div class="window an"  ng-if="$ctrl.checkOpen()">
        <div class="title">{{ $ctrl.modalViewData.data.title }}</div>
        <div class="message">{{ $ctrl.modalViewData.data.message }}</div>
        <div class="buttons group">
            <div class="confirm" ng-if="$ctrl.checkType('confirm')">
                <div class="reject" ng-click="$ctrl.close()">Отмена</div>
                <div class="ok" ng-click="$ctrl.close(true)">OK</div>
            </div>
            <div class="alert" ng-if="$ctrl.checkType('alert')" ng-click="$ctrl.close()">Закрыть</div>
        </div>
        <div class="close" ng-click="$ctrl.close()">x</div>
    </div>
</div>