<div class="home-page">
    <div class="daytime-select-tooltip" ng-class="{'active': $ctrl.classDaytime}">Выберете время дня,
        чтобы приступить к заполнению дневника</div>
    <div class="home-header">
        <div class="left-line"></div>
        <div class="right-line"></div>
        <h2 ng-click="$ctrl.toggle()">Дневник питания</h2>
    </div>

    <div class="menu-select-tooltip" ng-class="{'active': $ctrl.classMenu}">Чтобы установить лимиты,
        сохранить данные, добавить еду либо
        просмотреть итог и таблицы воспользуйтесь меню</div>
</div>