<div class="main-view">
    <day-time ng-repeat="time in $ctrl.dayTimes" time="time" calc="$ctrl.calcResult(array, bool)" toggle="$ctrl.toggleDayTime(id)"></day-time>

    <div class="result">
        <div class="result-tittle">Итого</div>

        <section class="table-result">
            <div class="table-result-tittle">
                <span class="result-no-name">----------------</span>
                <span class="portion">Порция(гр)</span>
                <span class="carbohyd">Углеводы</span>
                <span class="prot">Белки</span>
                <span class="fat">Жиры</span>
                <span class="kall">Калории</span>
            </div>

            <div class="result-final">
                <span class="name"></span>
                <span class="portion">---</span>
                <span class="carbohyd">{{ $ctrl.result[0] | value  }}</span>
                <span class="prot">{{ $ctrl.result[1] | value  }}</span>
                <span class="fat">{{ $ctrl.result[2] | value  }}</span>
                <span class="kall">{{ $ctrl.result[3] | value  }}</span>
            </div>

        </section>
    </div>
</div>