<div class="main-view">
    <day-time ng-repeat="time in $ctrl.viewData.dayTimes"
              time="time"
              base="$ctrl.base"
              add="$ctrl.addFood(dayTimeId, food)"
              remove="$ctrl.removeFood(dayTimeId, food)"
              toggle="$ctrl.toggleDayTime(id)"></day-time>

    <div class="result">
        <div class="result-tittle">Итого</div>

        <section class="table-result">
            <div class="table-result-tittle">
                <span class="result-no-name">----------------</span>
                <span class="portion">Порция(гр)</span>
                <span class="carbohyd">Углеводы</span>
                <span class="prot">Белки</span>
                <span class="fat">Жиры</span>
                <span class="kall">Калории</span>
            </div>

            <div class="result-final">
                <span class="name"></span>
                <span class="portion">---</span>
                <span class="carbohyd">{{ $ctrl.viewData.resultFinal.carbohyd | value  }}</span>
                <span class="prot">{{ $ctrl.viewData.resultFinal.prot | value  }}</span>
                <span class="fat">{{ $ctrl.viewData.resultFinal.fat | value  }}</span>
                <span class="kall">{{ $ctrl.viewData.resultFinal.kall | value  }}</span>
            </div>

        </section>
    </div>
</div>